Proj#1_Email Reply.json
{
  "name": "Proj#1:Email Reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e06ca84b-b99c-407b-be10-0005d954fa8c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "IBx3thDQ1aVMpV3i",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "=Hey! 👋 Got your email 📩 — we’ll reply soon (after pretending to be busy 😄). \n– Suraj",
        "options": {
          "ccList": "={{ $json.to ? $json.to.join(',') : '' }}{{ $json.cc ? ',' + $json.cc : '' }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "76dfcecd-e990-490b-a341-899e5f141e19",
      "name": "Reply to a message",
      "webhookId": "4803968b-a2fd-4826-b6cf-a8446b154e00",
      "credentials": {
        "gmailOAuth2": {
          "id": "IBx3thDQ1aVMpV3i",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f5f27542-f572-4b49-98b6-f499ceec172a",
              "leftValue": "={{ $json.from }}",
              "rightValue": "noreply",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "91951f56-cb78-4d9b-9166-b7e22523058e",
              "leftValue": "{{ $json.from }",
              "rightValue": "donotreply",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "1cc1061b-d716-4e89-a3b0-674ac08b4da9",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "newsletter",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "fea5acbc-4182-4a5a-9b93-ba7b1c2ae22f",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "unsubscribe",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "80c7dc9f-b110-4bd7-a5ae-06ef3e63b735",
              "leftValue": "={{ $json.from }}",
              "rightValue": "automated",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "95d4a5a3-305d-4dde-b3f9-de0b52a6ebe0",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "32977ad2-2948-4a12-ba92-93b10a2540ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce707f56bf03113d593ab342a85ad8e9ba9a949fe4cc230d4b3fac7c6cc711bc"
  },
  "id": "zBOcSX49NfkRK2pLzGwEy",
  "tags": []
}