Proj#2_ Data Pipeline (Google Sheets Automation).json
{
  "name": "Proj#2: Data Pipeline (Google Sheets Automation)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b17f57c8-f4fc-49ec-a4bc-918d5031f479",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1clVCyCm3BzZEy_csPKCmd1WwX5KIQV6BHQEEs37jB3E",
          "mode": "list",
          "cachedResultName": "Sample data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1clVCyCm3BzZEy_csPKCmd1WwX5KIQV6BHQEEs37jB3E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1clVCyCm3BzZEy_csPKCmd1WwX5KIQV6BHQEEs37jB3E/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "434588c6-6a88-4d56-ae27-dc3fdfbed885",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AlWDPC2iY0j2hvYo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all items from Google Sheets\nconst items = $input.all();\n\n// Remove the header row (first item)\nconst dataRows = items.slice(1);\n\n// Calculate totals\nlet totalSales = 0;\nlet totalQuantity = 0;\nlet productCount = dataRows.length;\n\n// Loop through each row and sum up\ndataRows.forEach(row => {\n  totalSales += parseFloat(row.json.Total || 0);\n  totalQuantity += parseInt(row.json.Quantity || 0);\n});\n\n// Create summary object\nconst summary = {\n  totalSales: totalSales,\n  totalQuantity: totalQuantity,\n  productCount: productCount,\n  averageSale: (totalSales / productCount).toFixed(2)\n};\n\n// Return the summary\nreturn [{ json: summary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "c64b200b-7c13-42cd-8dbb-dc674b415711",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "sweetytippannavar1234@gmail.com",
        "subject": "=Daily Sales Report - {{ $json.reportDate }}",
        "message": "=Daily Sales Report ==================  Report Date: {{ $json.reportDate }}  Summary: - Total Sales: ₹{{ $json.totalSales }} - Total Quantity Sold: {{ $json.totalQuantity }} units - Number of Products: {{ $json.productCount }} - Average Sale Value: ₹{{ $json.averageSale }}  This is an automated report generated by n8n.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "0c539546-27eb-445b-8fac-2f22ad33a1b1",
      "name": "Send a message",
      "webhookId": "f4908692-1e7e-4859-97e7-4e47fbb47032",
      "credentials": {
        "gmailOAuth2": {
          "id": "IBx3thDQ1aVMpV3i",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1b1b2b5f-0cc8-4bff-9c75-d3d0f367df15",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce707f56bf03113d593ab342a85ad8e9ba9a949fe4cc230d4b3fac7c6cc711bc"
  },
  "id": "-KS2GszHd4h8iN3skuGW_",
  "tags": []
}