Proj#6_Email to Sheets Automation.json
{
  "name": "Proj#1:Email to Sheets Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "sender": "sweetytippannavar1234@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d383a058-ec2a-4dc5-a4d4-3a2cc1ae6acf",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "IBx3thDQ1aVMpV3i",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RWwjNsOsqgKTYAbg3qUDTq7YS1yjW3sMTmeInmfp_f0",
          "mode": "list",
          "cachedResultName": "Email Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RWwjNsOsqgKTYAbg3qUDTq7YS1yjW3sMTmeInmfp_f0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RWwjNsOsqgKTYAbg3qUDTq7YS1yjW3sMTmeInmfp_f0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date(Number($json.internalDate)).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', dateStyle: 'short', timeStyle: 'short' }) }}",
            "From": "={{ $json.From }}",
            "Subject": "={{ $json.Subject }}",
            "Body": "={{ $json.snippet }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -64
      ],
      "id": "d6974ce2-8f0a-456d-b946-660380341ffe",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AlWDPC2iY0j2hvYo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=sweetytippannavar1234@gmail.com",
        "subject": "mail recieved",
        "emailType": "text",
        "message": "=got the mail",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "237040d8-0b03-4852-a792-acbb02d3eccc",
      "name": "Send a message",
      "webhookId": "9367ea63-1152-4495-be41-5440c08d0d78",
      "credentials": {
        "gmailOAuth2": {
          "id": "IBx3thDQ1aVMpV3i",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e521746b-0ade-4f20-971d-07eb76bdf129",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce707f56bf03113d593ab342a85ad8e9ba9a949fe4cc230d4b3fac7c6cc711bc"
  },
  "id": "uOWFXw1tI0sj3wl_x99w_",
  "tags": []
}