Proj#4 _ API Integration + Notification.json
{
  "name": "Proj#4 : API Integration + Notification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        160
      ],
      "id": "f8e0f152-31b9-4219-b0c3-3aef4ab247d7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://wttr.in/Bengaluru?format=j1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -80
      ],
      "id": "061c2f40-8374-4e7e-b022-b2902af4de7a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Get the weather data from HTTP Request\nconst weatherData = $input.first().json;\n\n// Extract important information\nconst currentCondition = weatherData.current_condition[0];\nconst forecast = weatherData.weather[0];\n\n// Create a formatted weather report\nconst report = {\n  city: \"Bengaluru\",\n  date: new Date().toLocaleDateString('en-IN'),\n  currentTemp: currentCondition.temp_C + \"°C\",\n  feelsLike: currentCondition.FeelsLikeC + \"°C\",\n  condition: currentCondition.weatherDesc[0].value,\n  humidity: currentCondition.humidity + \"%\",\n  maxTemp: forecast.maxtempC + \"°C\",\n  minTemp: forecast.mintempC + \"°C\",\n  uvIndex: forecast.uvIndex,\n  sunrise: forecast.astronomy[0].sunrise,\n  sunset: forecast.astronomy[0].sunset\n};\n\n// Return the formatted report\nreturn [{ json: report }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        96
      ],
      "id": "6853caa9-141e-4a6b-a564-624c202c071c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "surajtippannavar123@gmail.com",
        "subject": "=☀️ Weather Report for {{ $json.city }} - {{ $json.date }}",
        "emailType": "text",
        "message": "=Good Morning! ☀️     Here's your weather report for {{ $json.city }}:     📅 Date: {{ $json.date }}    🌡️ Current Temperature: {{ $json.currentTemp }}    🤔 Feels Like: {{ $json.feelsLike }}    ☁️ Conditions: {{ $json.condition }}    💧 Humidity: {{ $json.humidity }}     Today's Forecast:    🔥 High: {{ $json.maxTemp }}    ❄️ Low: {{ $json.minTemp }}    ☀️ UV Index: {{ $json.uvIndex }}     🌅 Sunrise: {{ $json.sunrise }}    🌇 Sunset: {{ $json.sunset }}     Have a great day!        ---    Automated by n8n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        -96
      ],
      "id": "c5dee2c0-ffe9-49fb-8660-ee06a4747d0a",
      "name": "Send a message",
      "webhookId": "234aded4-0913-4c53-abea-0572c93cc328",
      "credentials": {
        "gmailOAuth2": {
          "id": "IBx3thDQ1aVMpV3i",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "40b475f5-81c8-4e4d-bd1a-8718a4748ddf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce707f56bf03113d593ab342a85ad8e9ba9a949fe4cc230d4b3fac7c6cc711bc"
  },
  "id": "Hc1_Gy9CdAYkcZBkC_sdu",
  "tags": []
}